.range {
	margin: 100px 50px;
}


.custom-tooltipe {
	position: absolute;
	top: -35px;
	left: 50%;
	transform: translate(-50%, 0%);
	width: auto;
	height: fit-content;
	padding: 4px 10px;
	display: inline;

	border-radius: 4px;
	padding: 2px 4px;
	background-color: #000;
	color: rgba(255, 255, 255, 0.7);
	/*visibility: hidden;*/
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}

.rc-slider-handle {
	transform: translate(-50%, 0);
}

.rc-slider-handle:hover .custom-tooltipe,
.rc-slider-handle:focus .custom-tooltipe,
.rc-slider-handle:active .custom-tooltipe {
	/*visibility: visible;*/
	transition: opacity 0.2s ease-in-out;
	opacity: 1;
}

.rc-slider-mark {
	font-size: 16px !important;
}